---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> Quien soy? </H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    Soy
                    <a href="https://linktr.ee/pablotero17" target="_blank" class="underline underline-offset-4 decoration-zinc-400 hover:text-zinc-50 hover:decoration-zinc-200">
                         Pablo Otero Boubeta
                    </a>
                    , tengo 21 años y soy Desarrollador Web Junior con un perfil que combina lo creativo y lo técnico. Me apasionan la Inteligencia Artificial, el Blockchain y el análisis de datos, áreas en las que busco integrar soluciones innovadoras dentro del desarrollo web.
                    Disfruto transformando ideas en proyectos funcionales, cuidando tanto la experiencia de usuario como la eficiencia del código. Mi experiencia como monitor de motonáutica y piragüista me ha enseñado el valor del enfoque, la disciplina y el trabajo en equipo, cualidades que aplico en cada línea de código que escribo.
                    Busco seguir creciendo como profesional, explorando nuevas tecnologías y creando proyectos que mezclen lógica, diseño y creatividad.
               </p>
          </div>

          
     </div>
</InfoLayout>
